<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Team Aqua</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://d3js.org/d3.v3.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'api/bootstrap.min.css' %}"/>
    <script>
        $(document).ready(function(){

                }
        )

        function findHydrogenStationsButton()
        {
            var range = $('#stations_within').val();
            var zip = $('#zip').val();
            if (range == null){
                range = 50;
            }
            if (zip == null){
                zip = 838378;
            }
            $.getJSON('{% url 'api:findHydrogenStations' %}', {"range":range,"zip":zip}, function(data){
                $("canvas").remove();
                $('#chart').append('label').html(data['fuel_type']);
            });
        }

        function findNearestElectricButton()
        {

        }

        function agencyNearestHydrogenStation()
        {

        }
    </script>
</head>
<body>
    <div id="contents" class="container-fluid">
        <div class="row">
            <div id="chart" class="col-md-8">
                <canvas id="map"></canvas>
            </div>
            <!-- Side Bar -->
            <div class="col-md-4 well">
                <!-- Find Hydrogen -->
                <div class="row">
                    <div class="col-md-12 panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <a data-toggle="collapse" href="#collapseFindHydrogen">
                                    Find Hydrogen Stations
                                </a>
                            </div>
                        </div>
                        <div class="panel-body">
                        <div id="collapseFindHydrogen" class="panel-collapse">
                            <div class="panel-group">
                                <label for="stations_within">
                                    Stations within
                                </label>
                                <input class="form-control" id="stations_within" type="text" value="50"/>
                            </div>
                            <div class="panel-group">
                                <label for="zip">
                                    Miles Of
                                </label>
                                <input class="form-control" id="zip" type="text" value="95835"/>
                            </div>
                            <div class="panel-footer">
                                <button onclick="findHydrogenStationsButton(); return false;" class="btn btn-default " type="submit">
                                    Search
                                </button>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <!-- Find Nearest Electric Station -->
                <div class="row">
                    <div class="col-md-12 panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <a data-toggle="collapse" href="#collapseHydrogen">
                                    Find Nearest Electric Station
                                </a>
                            </div>
                        </div>
                        <div id="collapseHydrogen" class="panel-collapse">
                            <div class="panel-body">
                                <label for="electric_stations_for">
                                    Electric Stations For:
                                </label>
                                <select id="electric_stations_for" class="form-control">
                                    <option value=""/>
                                    {% if vehicleAgencies %}
                                        {% for agency in vehicleAgencies %}
                                    <option value="{{ agency }}">{{ agency }}</option>
                                        {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                            <div class="panel-footer">
                                <button onclick="findNearestElectricButton(); return false;" class="btn btn-default" type="submit">
                                    Search
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Agency nearest Hydrogen Station -->
                <div class="row">

                    <div class="col-md-12 panel panel-default">

                            <div class="panel-heading">
                                <div class="panel-title">
                                    <a data-toggle="collapse" href="#collapseAgencyHydrogen">
                                        Closest Hydrogen Station to Agency
                                    </a>
                                </div>
                            </div>
                        <div id="collapseAgencyHydrogen" class="panel-collapse in">
                            <div class="panel-body">
                                <label for="electric_stations_for">
                                    Nearest Hydrogen Stations For:
                                </label>
                                <select id="electric_stations_for" class="form-control">
                                    <option value=""/>
                                    {% if vehicleAgencies %}
                                        {% for agency in vehicleAgencies %}
                                    <option value="{{ agency }}">{{ agency }}</option>
                                        {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                            <div class="panel-footer">
                                <button onclick="agencyNearestHydrogenStation(); return false;" class="btn btn-default" type="submit">
                                    Search
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bottom -->
        <h3>Recommend Replacement Vehicle</h3>
        <div class="row well">
            <div class="col-md-4 ">
                <form role="form">
                    <div class="form-group inline-group">

                        <label for="agency">
                            Agency
                        </label>
                        <select id="agency" class="form-control">
                            <option value=""/>
                            {% if vehicleAgencies %}
                                {% for agency in vehicleAgencies %}
                            <option value="{{ agency }}">{{ agency }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                    <div class="form-group inline-group">

                        <label for="total_miles">
                            Total Mileage:
                        </label>
es
                    </div>
                    <div class="form-group inline-group">

                        <label for="fuel_type">
                            Fuel Type:
                        </label>
                        <select id="fuel_type" class="form-control">
                            <option value=""/>
                            {% if vehicleFuelTypes %}
                                {% for type in vehicleFuelTypes %}
                            <option value="{{ type }}">{{ type }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                    <button class="btn btn-default" type="submit" onclick="searchVehicles(this,0); return false;">
                        Show Recommendations
                    </button>
                </form>
            </div>
            <!-- Table -->
            <div class="col-md-8 ">
                <table class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <th>Zip Code</th>
                            <th>Agency</th>
                            <th>Vehicle ID</th>
                            <th>Recommendation</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>TB - Monthly</td>
                            <td>01/04/2012</td>
                            <td>Default</td>
                        </tr>
                        <tr class="active">
                            <td>1</td>
                            <td>TB - Monthly</td>
                            <td>01/04/2012</td>
                            <td>Approved</td>
                        </tr>
                        <tr class="success">
                            <td>2</td>
                            <td>TB - Monthly</td>
                            <td>02/04/2012</td>
                            <td>Declined</td>
                        </tr>
                        <tr class="warning">
                            <td>3</td>
                            <td>TB - Monthly</td>
                            <td>03/04/2012</td>
                            <td>Pending</td>
                        </tr>
                        <tr class="danger">
                            <td>4</td>
                            <td>TB - Monthly</td>
                            <td>04/04/2012</td>
                            <td>Call in to confirm</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>