<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <style>
        html { height: 100%}
        body {height:100%}
        #map{height: 100%}
    </style>
    <meta charset="UTF-8">
    <title>Team Aqua</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://d3js.org/d3.v3.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="//d85wutc1n854v.cloudfront.net/live/js/behavior.js"></script>
    <!-- Load Leaflet from CDN-->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/leaflet/0.7.3/leaflet.css" />
    <link rel="stylesheet" id="coToolbarStyle" href="chrome-extension://cjabmdjcfcfdmffimndhafhblfmpjdpe/toolbar/styles/placeholder.css" type="text/css">
    <script src="//cdn.jsdelivr.net/leaflet/0.7.3/leaflet.js"></script>

    <!-- Load Esri Leaflet from CDN -->
    <script src="//cdn.jsdelivr.net/leaflet.esri/1.0.0/esri-leaflet.js"></script>



    <link rel="stylesheet" type="text/css" href="{% static 'api/bootstrap.min.css' %}"/>
    <script>
        function showRecommendations()
        {
            var agency = $('#agency').val();
            var total_milage = $('#total_milage').val();
            var fuel_type = $('#fuel_type').val();
            if (agency == null || agency.trim() == ''){
                agency = 50;
            }
            if (total_milage == null || total_milage.trim() == ''){
                total_milage = 100000;
            }
            if (fuel_type == null || fuel_type.trim() == ''){
                fuel_type = 'GAS';
            }
            $.getJSON('{% url 'api:showRecommendations' %}', {"agency": agency,"total_milage": total_milage,"fuel_type": fuel_type}, function(data){
                if(data.length > 0)
                {
                    $("#showRecTable tr").remove();
                    $.each(data, function (i, item) {
                        $('#showRecTable').append('<tr><td>' + data[i]['agency'] + '</td><td>' + data[i]['postal_code'] +
                                '</td><td>' + data[i]['vin'] + '</td></tr>');
                    })
                }
                else
                {
                    $('#showRecTable').append('<tr><td>There are no rows to show</td><td>');
                }

            });

         }

        function findNearestElectricButton()
        {

        }

        function agencyNearestHydrogenStation()
        {
            var a = $('#buildingAgencies').val();

            $.getJSON('{% url 'api:searchHydrogenByDep' %}', {"department_name": a}, function(data){

            });
        }
    </script>
</head>
<body>
    <div id="contents" class="container center-block" style="max-width: 1600px; padding-top: 1%;">
        <div class="row">
            <div id="map" class="col-md-8 well" style="padding: 5px;position:relative; height: 800px;border:1px solid silver;">
               <!-- <div id="map"></div>-->
            </div>
            <!-- Side Bar -->
            <div class="col-md-4 well" style="height:800px;">
                <!-- Find Hydrogen -->
                <div class="row">
                    <div class="col-md-12 panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <a data-toggle="collapse" href="#collapseFindHydrogen">
                                    Find Hydrogen Stations
                                </a>
                                <a href="#" title="Expand/Collapse" class="btn-borderless btn-toggle-expand">
                                    <i class="fa fa-chevron-up">
                                    </i>
                                </a>
                            </div>
                        </div>
                        <div class="panel-body">
                        <div id="collapseFindHydrogen" aria-expanded="false" data-parent="#accordion" class="panel-collapse in">
                            <div class="panel-group">
                                <div class="input-group-addon" style="width:30%">Stations within</div>
                                <input class="form-control" id="stations_within" type="text" value="50"/>
                            </div>
                            <div class="panel-group">
                                <label class="input-group-addon" for="zip">
                                    Miles Of
                                </label>
                                <input class="form-control" id="zip" type="text" value="95835" pattern="^([0-9]{5})$"/>
                            </div>
                            <div class="panel-footer">
                                <button onclick="findHydrogenStationsButton(); return false;" class="btn btn-default" type="submit">
                                    Search
                                </button>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <!-- Find Nearest Electric Station -->
                <div class="row">
                    <div class="col-md-12 panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <a data-toggle="collapse" href="#collapseHydrogen">
                                    Find Nearest Electric Station
                                </a>
                            </div>
                        </div>
                        <div id="collapseHydrogen" aria-expanded="false" class="panel-collapse in">
                            <div class="panel-body">
                                <label class="input-group-addon" for="electric_stations_for">
                                    Electric Stations For:
                                </label>
                                <select id="electric_stations_for" class="form-control">
                                    {% if vehicleAgencies %}
                                        {% for item in vehicleAgencies %}
                                    <option value="{{ item.max_postal_code }}">{{ item.agency }}</option>
                                        {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                            <div class="panel-footer">
                                <button onclick="findNearestElectricButton(); return false;" class="btn btn-default" type="submit">
                                    Search
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Agency nearest Hydrogen Station -->
                <div class="row">

                    <div class="col-md-12 panel panel-default">

                            <div class="panel-heading">
                                <div class="panel-title">
                                    <a data-toggle="collapse" href="#collapseAgencyHydrogen">
                                        Closest Hydrogen Station to Agency
                                    </a>
                                </div>
                            </div>
                        <div id="collapseAgencyHydrogen" aria-expanded="false" class="panel-collapse in">
                            <div class="panel-body">
                                <label class="input-group-addon" for="electric_stations_for">
                                    Nearest Hydrogen Stations For:
                                </label>
                                <select id="buildingAgencies" class="form-control">
                                    {% if buildingAgencies %}
                                        {% for item in buildingAgencies %}
                                    <option value="{{ item.department_name }}">{{ item.department_name }}</option>
                                        {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                            <div class="panel-footer">
                                <button onclick="agencyNearestHydrogenStation(); return false;" class="btn btn-default" type="submit">
                                    Search
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bottom -->

        <div class="row well">
            <div class="col-md-4" style="border: 1px solid silver">
                    <div class="form-group inline-group">
                        <h4>Recommend Replacement Vehicle</h4>
                        <label class="input-group-addon" for="agency">
                            Agency
                        </label>
                        <select id="agency" class="form-control">
                            {% if vehicleAgencies %}
                                {% for item in vehicleAgencies %}
                            <option value="{{ item.agency }}">{{ item.agency }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                    <div class="form-group inline-group">

                        <label class="input-group-addon" for="total_milage">
                            Total Mileage:
                        </label>
                        <input class="form-control" id="total_milage" type="NUMBER" value="100000"/>

                    </div>
                    <div class="form-group inline-group">

                        <label class="input-group-addon" for="fuel_type">
                            Fuel Type:
                        </label>
                        <select id="fuel_type" class="form-control">
                            {% if vehicleFuelTypes %}
                                {% for item in vehicleFuelTypes %}
                            <option value="{{ item.fuel_type }}">{{ item.fuel_type }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                    <button class="btn btn-default" onclick="showRecommendations();return false;" type="submit" style="margin-bottom: 10px;">
                        Show Recommendations
                    </button>
            </div>
            <!-- Table -->
            <div class="col-md-8 "style="max-height:350px;overflow:auto;">
                <table class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <th>Agency</th>
                            <th>Zip Code</th>
                            <th>Vehicle ID</th>
                        </tr>
                    </thead>
                    <tbody id="showRecTable">
                        <tr>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

<script>
    var map = L.map('map').setView([37.00, -120.00], 5);

    //Set the Basemap Layer for the feature
    L.esri.basemapLayer('Streets').addTo(map);

    //Add a feature layer to the map
    var fuelStations = L.esri.featureLayer({
        url: 'https://services.gis.ca.gov/arcgis/rest/services/Transportation/AltFuelStations/MapServer/0',
        where: 'State=\'CA\' and Fuel_Type_Code=\'HY\'',
        minZoom: 5
    }).addTo(map);

</script>
</body>
</html>